<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Song!</title>
  </head>
  <body>


    <form action="/songs" method="post">
      <label>Song Title: </label><input type= "text" name= "name"> <br>
      <label>Song Artist: </label><input type = "text" name="artist"> <br>
      <label>Song Genre: </label><input type = "text" name="genre"> <br>
      <input type="submit" value="Submit!">



    </form>


  </body>
</html>
